div.switcher + div.switcher {
  margin-top: 10px;
}
div.switcher label {
  padding: 0;
}
div.switcher label * {
  vertical-align: middle;
}
div.switcher label input {
  display: none;
}
div.switcher label input + span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 23px;
  background: var(--bs-gray);
  border: 2px solid var(--bs-gray);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
div.switcher label input + span small {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  background: rgb(13, 14, 13);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  left: 0;
}
div.switcher label input:checked + span {
  background: rgb(52, 236, 150) !important;
  border-color: rgb(231, 12, 12) !important;
}
div.switcher label input:checked + span small {
  left: 50%;
}
